In [1]:
import pandas as pd
import seaborn as sns
import plotly.express as px
from scipy.stats import skew
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

In [2]:
#import of the data
table1_url = '/content/drive/Shareddrives/Econ paper/ludo/data_file1.csv'
table1 = pd.read_csv(table1_url)
display(table1)

,date,dow,month,year,monthyear,daily_woi,daily_woi_c_med,daily_woi_nc,daily_woi_long,interpolated_news,...,barak,sharon,olmert,netanyahu,clinton,bush,obama,us_president_party,p_process,p_talks
0,29sep2000,Friday,9,2000,488,0.850000,0.850000,0.850000,1.066667,0,...,1,0,0,0,1,0,0,democrat,0,0
1,30sep2000,Saturday,9,2000,488,0.715333,0.715333,0.616667,1.044000,0,...,1,0,0,0,1,0,0,democrat,0,0
2,01oct2000,Sunday,10,2000,489,0.881793,0.889833,0.675000,1.282759,0,...,1,0,0,0,1,0,0,democrat,0,0
3,02oct2000,Monday,10,2000,489,0.956902,0.961285,0.766667,1.356751,0,...,1,0,0,0,1,0,0,democrat,0,0
4,03oct2000,Tuesday,10,2000,489,0.750000,0.750000,0.733333,1.101792,0,...,1,0,0,0,1,0,0,democrat,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4069,20nov2011,Sunday,11,2011,622,0.800000,0.800000,0.800000,0.816667,0,...,0,0,0,1,0,0,1,democrat,1,0
4070,21nov2011,Monday,11,2011,622,0.825000,0.825000,0.825000,0.966667,0,...,0,0,0,1,0,0,1,democrat,1,0
4071,22nov2011,Tuesday,11,2011,622,1.058333,1.058333,1.058333,1.216667,0,...,0,0,0,1,0,0,1,democrat,1,0
4072,23nov2011,Wednesday,11,2011,622,0.775000,0.775000,0.775000,0.933333,0,...,0,0,0,1,0,0,1,democrat,1,0
4073,24nov2011,Thursday,11,2011,622,0.616667,0.616667,0.616667,0.750000,0,...,0,0,0,1,0,0,1,democrat,1,0

In [4]:
table_url = '/content/drive/Shareddrives/Econ paper/ludo/data_drone.xlsx'
table = pd.read_excel(table_url, sheet_name="Drone strikes data")
display(table)

,Strike ID,Date,Location,Area,Minimum total people killed,Maximum total people killed,Minimum civilians reported killed,Maximum civilians reported killed,Minimum children reported killed,Maximum children reported killed,Minimum reported injured,Maximum reported injured,Strike link,Unnamed: 13,Index
0,B1,2004-06-17,Wana,South Waziristan,6.0,8.0,2.0,2.0,2.0,2.0,1.0,1.0,http://www.thebureauinvestigates.com/2011/08/1...,http://www.thebureauinvestigates.com/2011/08/1...,1.0
1,B2,2005-05-08,Toorikhel,North Waziristan,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,http://www.thebureauinvestigates.com/2011/08/1...,NaN,2.0
2,B3,2005-11-05,Mosaki,North Waziristan,8.0,8.0,3.0,8.0,2.0,3.0,1.0,1.0,http://www.thebureauinvestigates.com/2011/08/1...,NaN,3.0
3,B4,2005-12-01,Haisori,North Waziristan,6.0,6.0,2.0,3.0,2.0,2.0,0.0,0.0,http://www.thebureauinvestigates.com/2011/08/1...,NaN,4.0
4,B5,2006-01-13,Damadola,Bajaur Agency,13.0,22.0,10.0,18.0,5.0,6.0,0.0,0.0,http://www.thebureauinvestigates.com/2011/08/1...,NaN,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
425,T002,2017-04-26,Zuwai,North Waziristan,7.0,11.0,0.0,3.0,0.0,0.0,0.0,0.0,NaN,NaN,426.0
426,T003,2017-05-24,Unknown,North Waziristan,2.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,427.0
427,T004,2017-06-13,Hangu district,Khyber Pakhtunkhwa province,1.0,3.0,0.0,0.0,0.0,0.0,0.0,3.0,NaN,NaN,428.0
428,T005,2017-09-15,Ghuz Ghari village,Kurram Agency,3.0,3.0,0.0,0.0,0.0,0.0,1.0,2.0,NaN,NaN,429.0
429,T006,2018-01-24,Unclear,Unclear,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,430.0

In [5]:
clean_table = table.copy()

In [6]:
clean_table = clean_table.drop(["Strike link", "Unnamed: 13", "Index"], axis=1)
clean_table = clean_table.loc[(clean_table["Date"]<"2012-01-01")]
display(clean_table)

,Strike ID,Date,Location,Area,Minimum total people killed,Maximum total people killed,Minimum civilians reported killed,Maximum civilians reported killed,Minimum children reported killed,Maximum children reported killed,Minimum reported injured,Maximum reported injured
0,B1,2004-06-17,Wana,South Waziristan,6.0,8.0,2.0,2.0,2.0,2.0,1.0,1.0
1,B2,2005-05-08,Toorikhel,North Waziristan,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
2,B3,2005-11-05,Mosaki,North Waziristan,8.0,8.0,3.0,8.0,2.0,3.0,1.0,1.0
3,B4,2005-12-01,Haisori,North Waziristan,6.0,6.0,2.0,3.0,2.0,2.0,0.0,0.0
4,B5,2006-01-13,Damadola,Bajaur Agency,13.0,22.0,10.0,18.0,5.0,6.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
301,Ob251,2011-10-31,Norak,North Waziristan,2.0,4.0,2.0,2.0,2.0,2.0,3.0,3.0
302,Ob252,2011-11-03,"Sarai Darpa Khel, Miranshah",North Waziristan,2.0,3.0,0.0,0.0,0.0,0.0,3.0,3.0
303,Ob253,2011-11-15,Miram Shah,North Waziristan,3.0,7.0,0.0,0.0,0.0,0.0,2.0,4.0
304,Ob254,2011-11-16,Babar Ghar,South Waziristan,4.0,22.0,0.0,0.0,0.0,0.0,6.0,12.0
305,Ob255,2011-11-17,Shawal,North Waziristan,7.0,9.0,0.0,0.0,0.0,0.0,3.0,5.0

In [7]:
sub = clean_table[["Date", "Minimum total people killed",	"Maximum total people killed",	"Minimum civilians reported killed",	
                   "Maximum civilians reported killed", "Minimum reported injured",	"Maximum reported injured"]]
display(sub)

,Date,Minimum total people killed,Maximum total people killed,Minimum civilians reported killed,Maximum civilians reported killed,Minimum reported injured,Maximum reported injured
0,2004-06-17,6.0,8.0,2.0,2.0,1.0,1.0
1,2005-05-08,2.0,2.0,0.0,0.0,0.0,0.0
2,2005-11-05,8.0,8.0,3.0,8.0,1.0,1.0
3,2005-12-01,6.0,6.0,2.0,3.0,0.0,0.0
4,2006-01-13,13.0,22.0,10.0,18.0,0.0,0.0
...,...,...,...,...,...,...,...
301,2011-10-31,2.0,4.0,2.0,2.0,3.0,3.0
302,2011-11-03,2.0,3.0,0.0,0.0,3.0,3.0
303,2011-11-15,3.0,7.0,0.0,0.0,2.0,4.0
304,2011-11-16,4.0,22.0,0.0,0.0,6.0,12.0
305,2011-11-17,7.0,9.0,0.0,0.0,3.0,5.0

In [8]:
sub["Mean total people killed"] = (sub["Minimum total people killed"] + sub["Maximum total people killed"])/2
sub["Mean total civilians killed"] = (sub["Minimum civilians reported killed"] + sub["Maximum civilians reported killed"])/2
sub["Mean injured"] = (sub["Minimum reported injured"] + sub["Maximum reported injured"])/2
display(sub)

<ipython-input-8-04c778a54af8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub["Mean total people killed"] = (sub["Minimum total people killed"] + sub["Maximum total people killed"])/2
<ipython-input-8-04c778a54af8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub["Mean total civilians killed"] = (sub["Minimum civilians reported killed"] + sub["Maximum civilians reported killed"])/2
<ipython-input-8-04c778a54af8>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub["Mean injured"] = (sub["Minimum reported injured"] + sub["Maximum reported injured"])/2

,Date,Minimum total people killed,Maximum total people killed,Minimum civilians reported killed,Maximum civilians reported killed,Minimum reported injured,Maximum reported injured,Mean total people killed,Mean total civilians killed,Mean injured
0,2004-06-17,6.0,8.0,2.0,2.0,1.0,1.0,7.0,2.0,1.0
1,2005-05-08,2.0,2.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
2,2005-11-05,8.0,8.0,3.0,8.0,1.0,1.0,8.0,5.5,1.0
3,2005-12-01,6.0,6.0,2.0,3.0,0.0,0.0,6.0,2.5,0.0
4,2006-01-13,13.0,22.0,10.0,18.0,0.0,0.0,17.5,14.0,0.0
...,...,...,...,...,...,...,...,...,...,...
301,2011-10-31,2.0,4.0,2.0,2.0,3.0,3.0,3.0,2.0,3.0
302,2011-11-03,2.0,3.0,0.0,0.0,3.0,3.0,2.5,0.0,3.0
303,2011-11-15,3.0,7.0,0.0,0.0,2.0,4.0,5.0,0.0,3.0
304,2011-11-16,4.0,22.0,0.0,0.0,6.0,12.0,13.0,0.0,9.0
305,2011-11-17,7.0,9.0,0.0,0.0,3.0,5.0,8.0,0.0,4.0

In [9]:
final = sub[["Date", "Mean total people killed" ]]
final.rename(columns={'Date': 'date', "Mean total people killed" : "vic_us"}, inplace=True)
display(final)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

          date  vic_us
0   2004-06-17     7.0
1   2005-05-08     2.0
2   2005-11-05     8.0
3   2005-12-01     6.0
4   2006-01-13    17.5
..         ...     ...
301 2011-10-31     3.0
302 2011-11-03     2.5
303 2011-11-15     5.0
304 2011-11-16    13.0
305 2011-11-17     8.0

[306 rows x 2 columns]

In [10]:
final["date"] = final["date"].dt.strftime("%d%b%Y")
final["date"] = final["date"].str.lower()

<ipython-input-10-b23cbce615ca>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final["date"] = final["date"].dt.strftime("%d%b%Y")
<ipython-input-10-b23cbce615ca>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final["date"] = final["date"].str.lower()

In [11]:
display(final.iloc[10:41,:])

         date  vic_us
10  03dec2007     0.0
11  29jan2008    13.5
12  28feb2008    11.5
13  16mar2008    19.0
14  14may2008    16.0
15  14jun2008     1.0
16  28jul2008     9.5
17  12aug2008    18.5
18  20aug2008     9.0
19  27aug2008     0.0
20  30aug2008     4.5
21  30aug2008     8.5
22  02sep2008     5.0
23  04sep2008     6.0
24  05sep2008     8.5
25  08sep2008    20.0
26  12sep2008    13.5
27  17sep2008     5.5
28  30sep2008     6.0
29  03oct2008     3.0
30  03oct2008    19.0
31  09oct2008     7.0
32  11oct2008     4.5
33  16oct2008     5.5
34  23oct2008     9.5
35  26oct2008    19.0
36  31oct2008    14.5
37  31oct2008     8.0
38  07nov2008    13.5
39  14nov2008    12.0
40  19nov2008     4.5

In [12]:
dupli =final[final.duplicated(subset="date")]
dupli_list = dupli["date"].unique()
new_df = []

for date in dupli_list:
  new_row = {"date" : date, "vic_us" : final.loc[final["date"]==date].sum()[1]}
  new_df.append(new_row)

fin = final[~final["date"].isin(dupli_list)]

for row in new_df:
  fin = fin.append(row, ignore_index=True)

final = fin
final["occurrence_us"] = 1.0
final["lnvic_us"] = np.log(final["vic_us"]+1)
final["occurrence_us_1"] = 1.0

In [13]:
new_merged = table1.merge(final, on="date", how="left")
new_merged[["vic_us", "occurrence_us", "lnvic_us", "occurrence_us_1"]] = new_merged[["vic_us", "occurrence_us", "lnvic_us", "occurrence_us_1"]].fillna(value=0)
new_merged["occurrence_us_t_y"] = 0.0
new_merged["lnvic_us_t_y"] = 0.0
display(new_merged.iloc[:,-6])

for i in range(1,len(new_merged)):
  if (new_merged.iloc[i,-5]==1.0) or (new_merged.iloc[i-1,-5]==1.0):
    new_merged.iloc[i, -2] = 1.0
  new_merged.iloc[i,-1] = np.log(new_merged.iloc[i,-6]+new_merged.iloc[i-1,-6]+1)
display(new_merged)

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4069    0.0
4070    0.0
4071    0.0
4072    0.0
4073    0.0
Name: vic_us, Length: 4074, dtype: float64

,date,dow,month,year,monthyear,daily_woi,daily_woi_c_med,daily_woi_nc,daily_woi_long,interpolated_news,...,obama,us_president_party,p_process,p_talks,vic_us,occurrence_us,lnvic_us,occurrence_us_1,occurrence_us_t_y,lnvic_us_t_y
0,29sep2000,Friday,9,2000,488,0.850000,0.850000,0.850000,1.066667,0,...,0,democrat,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,30sep2000,Saturday,9,2000,488,0.715333,0.715333,0.616667,1.044000,0,...,0,democrat,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,01oct2000,Sunday,10,2000,489,0.881793,0.889833,0.675000,1.282759,0,...,0,democrat,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,02oct2000,Monday,10,2000,489,0.956902,0.961285,0.766667,1.356751,0,...,0,democrat,0,0,0.0,0.0,0.0,0.0,0.0,0.0
4,03oct2000,Tuesday,10,2000,489,0.750000,0.750000,0.733333,1.101792,0,...,0,democrat,0,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4069,20nov2011,Sunday,11,2011,622,0.800000,0.800000,0.800000,0.816667,0,...,1,democrat,1,0,0.0,0.0,0.0,0.0,0.0,0.0
4070,21nov2011,Monday,11,2011,622,0.825000,0.825000,0.825000,0.966667,0,...,1,democrat,1,0,0.0,0.0,0.0,0.0,0.0,0.0
4071,22nov2011,Tuesday,11,2011,622,1.058333,1.058333,1.058333,1.216667,0,...,1,democrat,1,0,0.0,0.0,0.0,0.0,0.0,0.0
4072,23nov2011,Wednesday,11,2011,622,0.775000,0.775000,0.775000,0.933333,0,...,1,democrat,1,0,0.0,0.0,0.0,0.0,0.0,0.0
4073,24nov2011,Thursday,11,2011,622,0.616667,0.616667,0.616667,0.750000,0,...,1,democrat,1,0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
new_merged.to_stata("/content/drive/Shareddrives/Econ paper/ludo/data_new_tables.dta")